/*
* (c) 2022 Tim Friedrich Weber
* Website: https://tfw.media
* Removal of the Credits is not permitted.
*/

@import "assets/variables";

@import "viewports/sm";

body{
  color: $font-color;
  font-family: monospace;

  li{
    list-style-type: none;
    margin-left: -1rem;
    &:before{
      content: "– ";
    }
  }




  .navbar{
    border-bottom: $border-outline;

    li{
      margin-left: 0;
      &:before{
        content: "";
      }
    }

    .navbar-toggler{
      border: $border-outline;
      border-radius: $border-radius;
      color: $font-color;
      box-shadow: $box-shadow-nocolor;
    }

    .nav-item{
      a{
        text-transform: uppercase;
      }
    }

  }

  .alert{
    border: $border-outline;
    background-color: transparent;
    color: $font-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    &.alert-primary{
      background-color: $pastel-color;
      color: $font-color-inverse;
      box-shadow: $box-shadow-nocolor;

    }

  }


  .card{
    border-radius: $border-radius;
    border: $border-outline;
    box-shadow: $box-shadow;

    .card-img-top{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

  }

  .carousel{
    border: $border-outline;
    box-shadow: $box-shadow;
  }

  .btn{
    border: $border-outline;
    background-color: transparent;
    color: $font-color;
    border-radius: $border-radius;

    &.btn-primary{
      &:hover{
        background-color: $pastel-color;
        color: $font-color-inverse;
      }
    }

  }

  .img-thumbnail{
    background-color: transparent;
    border: $border-outline;
    box-shadow: $box-shadow-nocolor;
    border-radius: $border-radius;
  }

  .input-group{
    box-shadow: $box-shadow;
    border: $border-outline;
    border-radius: $border-radius;

    .input-group-text{
      border-radius: $border-radius;
    }

  }

  .form-control{
    border-radius: $border-radius;

    &:focus{
      border-color: $border-outline;
      box-shadow: $box-shadow-nocolor;
    }

  }


}