$font-color: #000;
$font-color-inverse: invert($font-color);
$pastel-color: rgb(193, 180, 255);

$border-radius: 0;
$border-outline: 1px solid $font-color;
$box-shadow: $pastel-color 4px 4px 0px 0px;
$box-shadow-nocolor: rgba(0, 0, 0, 0.2) 4px 4px 0px 0px;